flask==2.3.2
faker==19.1.0


# Pre-commit hook.
pre-commit==3.3.3
# Upgrade syntax.
pyupgrade==3.9.0
# Formatter. Apply codestyle.
black==23.7.0
# Check codestyle.
flake8==6.0.0
# Removes unused imports and unused variables.
autoflake==2.2.0
# [code_style]-[END]

# For saving converted data.
ruamel.yaml==0.17.32

requests~=2.31.0

aiohttp~=3.8.4